<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="false">

<test name="Test_chrome">
<parameter name="Browser" value="chrome"></parameter>
    <classes>
      <class name="BDD_runner.E2E_Runner"/>
     </classes>
  </test>
  
  <test name="Test_firefox">
<parameter name="Browser" value="firefox"></parameter>
    <classes>
      <class name="BDD_runner.E2E_Runner"/>
     </classes>
  </test>
  </suite> <!-- Suite -->
